<?xml version="1.0"?>
<model>
  <name>blue-cylinder</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Mike</name>
    <email>miguel.rojass@usm.cl</email>
  </author>

  <description>
    Un cilindro azul simple de radio 5cm y largo 10cm.
  </description>
</model>